Pillow==11.1.0
pandas==2.2.3
streamlit==1.41.1
google-genai==0.6.0
imutils==0.5.4
python-dotenv==1.0.1
jupyterlab==4.2.5
scikit-learn==1.5.2
pydantic==2.10.6
fastlite
numpy
https://github.com/peterjakubowski/Pillow-Metadata/archive/main.zip
https://github.com/peterjakubowski/Image-Editing-Utilities/archive/main.zip
